{% set bidderListLast = auction.bidderList | last %}
{#{% set bidderListLength = auction.bidderList | length %}#}


<div class="m-t-2">
    <dt>{{ trans("PluginAuctions::Template.startDate") }}</dt>
    <dd>{{ auction.startDate | date('D d. M Y H:i') }}</dd>
    <dt>{{ trans("PluginAuctions::Template.duration") }}</dt>
    <dd>{{ auction.auctionDuration }} Tage</dd>
    <dt>{{ trans("PluginAuctions::Template.endDate") }}</dt>
    <dd>{{ auction.expiryDate | date('D d. M Y H:i e') }}</dd>
    <dt>{{ trans("PluginAuctions::Template.shipping") }}</dt>
    <dd>{{ trans("PluginAuctions::Template.shippinGermany") }}</dd>

</div>