{{ component( "PluginAuctions::Item.Components.AuctionGtcCheck" ) }}

<script type="x/template" id="vue-auction-bids">
    
    <div class="auction-bid">
        
        {#<h3>${ auction.expiryDate }</h3>#}
        <auction-countdown
                template="#vue-auction-countdown"
                :deadline="deadline"
        >
        </auction-countdown>
        
        
        <div class="row container" id="auction-bidform">
            
            <div class="col-lg-8 offset-lg-3" formGroup="maxBidForm">
                <input class="form-control form-control-lg text-muted"
                        v-model="maxCustomerBid" number
                        min="${ minbid }"
                        type="number"
                        id="maximumBid"
                        placeholder="{{ trans("PluginAuctions::Template.maxBid") }}"
                        aria-describedby="maxBidHelpBlock"
                >
                <p id="maxBidHelpBlock"
                        class="form-text text-muted text-center">{{ trans("PluginAuctions::Template.bidAtLeast") }}<span
                            :class="{alarm: !isInputValid}">${ minbid | currency }</span>{{ trans("PluginAuctions::Template.bidAtLeastEnd") }}
                </p>
                
                <button class="btn btn-primary btn-lg btn-block"
                        @click="confirmBid"
                        :disabled="!isInputValid"
                >
                    <i class="fa fa-check-square-o p-r-1" aria-hidden="true"></i>{{ trans("PluginAuctions::Template.makeBid") }}
                </button>
                
                {#<button class="btn btn-primary btn-lg btn-block"#}
                {#type="submit"#}
                {#@click="addBidTest"#}
                {#>{{ trans("PluginAuctions::Template.makeBindingBid") }}</button>#}
                
                {#<div class="col-lg-8 offset-lg-3" formGroup="maxBidForm">#}
                <div class="form-check auction-gtc-check"
                        v-show="isInputValid">
                    {#<auction-gtc-check#}
                            {#template="#vue-auction-gtc-check"#}
                            {#v-show="isInputValid"#}
                            {#></auction-gtc-check>#}
                    <label class="form-check-label" for="gtc-auction" v-bind:class="{ 'error': this.gtcError }">
                        <input class="form-check-input" type="checkbox" value="" id="gtc-auction" v-model="isChecked">
                        {% autoescape false %}
                            {% set gtcContent %}
                                <a href="/agb" target="_blank">
                                    <strong>{{ trans("Ceres::Template.generalGtc") }}</strong>
                                </a>
                            {% endset %}
            
                            {% set cancellationContent %}
                                <a href="/cancellation-rights" target="_blank">
                                    <strong>{{ trans("Ceres::Template.generalCancellationRight") }}</strong>
                                </a>
                            {% endset %}
            
                            {% set policyContent %}
                                <a href="/privacy-policy" target="_blank">
                                    <strong>{{ trans("Ceres::Template.generalPrivacyPolicy") }}</strong>
                                </a>
                            {% endset %}
            
                            {{ trans("Ceres::Template.generalChooseOur", {"gtc": gtcContent, "cancellation": cancellationContent, "policy": policyContent}) }}
                        {% endautoescape %}
                    </label>

                </div>
                {#</div>#}
                
                
            </div>
        </div>
    </div>

</script>
<style>
    /*.alarm {*/
    /*color: #c50000;*/
    /*}*/
    .auction-gtc-check {
        font-family: 'Abel', sans-serif;
        font-size: 1rem;
        line-height: 1.28rem;
        margin: 0.66rem 0 0 0.5rem;
    }
</style>