{% set itemId = itemData.item.id %}
{% set auction = auctions.auction.getAuctionForItemId(itemId) %}

{#<resource name="auctionBidderlist" :data="{{ auction.bidderList | json_encode() }}"></resource>#}
{#<resource name="user" :data="{ isLoggedIn: {{ frontend.Account.getIsAccountLoggedIn | json_encode() }} }" ></resource>#}

{#{{ component( "PluginAuctions::Item.Components.AuctionBids" ) }}#}
{#{{ component( "PluginAuctions::Item.Components.Countdown" ) }}#}

{% if auction %}

    {{ component( "PluginAuctions::Item.Components.AuctionShowBidderList" ) }}
    {{ component( "PluginAuctions::Item.Components.Notifications" ) }}
    {{ component( "PluginAuctions::Item.Components.AuctionParent" ) }}


    {#<resource name="auction" route="/api/auction/" :data="{{ auction | json_encode() }}"></resource>#}


    {#<resource name="user" :data="{ isLoggedIn: {{ frontend.Account.getIsAccountLoggedIn | json_encode() }} }" ></resource>#}
    {#<resource name="basket" route="/rest/io/basket/" :data="{{ services.basket.getBasketForTemplate() | json_encode() }}" :events="['AfterBasketChanged!basket.totalVats']"></resource>#}
    {#<resource name="itemSearch" :data="{}"></resource>#}
    {#<resource name="basketItem" :data="{ currentBasketItem: { }, quantity: 1 }"></resource>#}
    {#<resource name="localization" :data="{{ services.localization.getLocalizationData() | json_encode() }}" :events="['LocalizationChanged!localization']"></resource>#}
    {#<resource-list name="basketItems" route="/rest/io/basket/items/" response-template="Ceres::Basket.Basket" data="{{ services.basket.getBasketItemsForTemplate('Ceres::Basket.Basket') | json_encode() }}"></resource-list>#}


    {#<resource name="auction" route="/api/auction/" :data="{{ auction | json_encode() }}"></resource>#}
    {#<resource name="auction" :data="{{ auction | json_encode() }}"></resource>#}
    {#<resource name="deadline" :data="{{ auction.expiryDate }}"></resource>#}


    <div class="wrapper wrapper-top">
        <!-- messages -->
        <notifications-plugin-auction
                template="#vue-notifications-plugin-auction"
                :initial-notifications="{{ services.notifications.getNotifications() | json_encode() }}"
        ></notifications-plugin-auction>
    </div>


    <!-- BidderList MODAL -->
    <div id="bidderlist-modal-wrapper">
        <div class="modal fade" id="bidderlist" tabindex="-1" role="dialog">
            <div class="modal-dialog" style="max-width: 640px;">
                <div class="modal-content modal-left">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                        </button>
                        <h3 class="modal-title">
                            Alle Gebote für diese Auktion</h3>
                    </div>
                    <div class="modal-body">

                        <auction-show-bidderlist
                                template="#vue-auction-show-bidderlist"
                                auctionid="{{ auction.id }}"
                        >
                        </auction-show-bidderlist>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./BidderList MODAL -->

{% endif %}
<style>
    .modal-left {
        -webkit-transform: translateX(-17rem);
        -moz-transform: translateX(-17rem);
        -ms-transform: translateX(-17rem);
        -o-transform: translateX(-17rem);
        transform: translateX(-17rem);
    }
</style>