{% set itemId = itemData.item.id %}
{% set auction = auctions.auction.getAuctionForItemId(itemId) %}

    {#{{ component( "PluginAuctions::Item.Components.Countdown" ) }}#}
    {#{{ component( "PluginAuctions::Item.Components.AuctionBids" ) }}#}
    {#{{ component( "PluginAuctions::Item.Components.AuctionEnd" ) }}#}
    {#{{ component( "PluginAuctions::Item.Components.AuctionShowBidderList" ) }}#}
    {#{{ component( "PluginAuctions::Item.Components.Notifications" ) }}#}
    {#{{ component( "PluginAuctions::Item.Components.VisitorCounter" ) }}#}

{% if ( auction ) %}

    {% set numberOfVisitors = auctions.visitorCounter.getNumberOfVisitors(itemId) %}
    {% set bidderListLast = auction.bidderList | last %}
    {% set bidderListLength = auction.bidderList | length %}

    {% set userdata = services.customer.getContact() | json_encode() %}

    <div id="addAuctionVue">
        {#Zukunft ------------------------------------------------------- #}
        {% if (auction.tense == 'future') %}
            <h2 class="m-b-2">Bald beginnende Auktion:</h2>

            <dl class="auctionList">
                <dt>Start Preis:</dt>
                <dd class="price h1 m-b-2">{{ auction.startPrice | formatMonetary('EUR') }}</dd>

                {#Aufgeld Start#}
                <dt><span class="alarm">Aufgeld:</span></dt>
                <dd><span>10% vom Höchstgebot</span>
                    <span class="m-x-5">|</span>
                    <span>Gesamtpreis: </span>
                    <span class="alarm h4"><strong>{{ ( auction.startPrice + auction.startPrice * 0.1 ) | formatMonetary('EUR') }}</strong></span>
                </dd>

                {% include "PluginAuctions::Item.Partials.AuctionConstants" with { 'auction': auction } %}

            </dl>


            {#Gegenwart#}
        {% elseif (auction.tense == 'present') %}

            <h2 class="m-b-1 alarm">Laufende Auktion:</h2>


            <div class="row container m-t-0 m-b-2">
                <auction-bids
                        template="#vue-auction-bids"
                        auction="{{ auction | json_encode() }}"
                        item="{{ itemData | json_encode() }}"
                        userdata="{{ userdata }}">
                </auction-bids>
            </div>


            <div class="row container m-t-0 m-b-1">
                <dl class="auctionList">

                    {% if (bidderListLength > 1) %}
                        <dt>Aktuelles Gebot:</dt>
                        <dd class="price h1 m-b-2">{{ bidderListLast.bidPrice | formatMonetary('EUR') }}</dd>
                        <dt>Start Preis:</dt>
                        <dd>{{ auction.startPrice | formatMonetary('EUR') }}</dd>
                        {#Aufgeld Standard#}
                        <dt><span class="alarm">Aufgeld</span> <span class="small">(10%)</span>:</dt>
                        <dd><span class="alarm"><strong>{{ ( bidderListLast.bidPrice * 0.1 ) | formatMonetary('EUR') }}</strong></span>
                            <span class="m-x-1">|</span>
                            <span>Gesamtpreis: </span>
                            <span class="alarm h4"><strong>{{ ( bidderListLast.bidPrice + bidderListLast.bidPrice * 0.1 ) | formatMonetary('EUR') }}</strong></span>
                        </dd>
                    {% else %}
                        <dt>Start Preis:</dt>
                        <dd class="price h1 m-b-2">{{ auction.startPrice | formatMonetary('EUR') }}</dd>
                        {#Aufgeld Start#}
                        <dt><span class="alarm">Aufgeld:</span></dt>
                        <dd><span>10% vom Höchstgebot</span>
                            <span class="m-x-5">|</span>
                            <span>Gesamtpreis: </span>
                            <span class="alarm h4"><strong>{{ ( auction.startPrice + auction.startPrice * 0.1 ) | formatMonetary('EUR') }}</strong></span>
                        </dd>
                    {% endif %}






                    {% include "PluginAuctions::Item.Partials.AuctionConstants" with { 'auction': auction } %}

                    {% if bidderListLength != 1 %}
                        <dt>Anzahl Gebote:</dt>
                        <dd> {{ bidderListLength - 1 }}
                            <span>
                            <a data-toggle="modal" href="#bidderlist">
                                <i class="fa fa-list-ul p-l-2 p-r-5" aria-hidden="true"></i> alle anzeigen
                            </a>
                            </span>
                            {% if (auction.tense == 'present') %}
                                <span>
                                    <button id="reload" class="btn btn-secondary btn-sm m-l-2"
                                            onclick="aoCustomReload()"
                                    ><i class="fa fa-refresh fa-2 m-r-5" aria-hidden="true"></i>reload
                                    </button>

                                </span>
                            {% endif %}
                        </dd>
                    {% endif %}
                </dl>
                <visitor-counter
                        template="#vue-visitor-counter"
                        number-of-visitors="{{ numberOfVisitors }}"
                >
                </visitor-counter>
            </div>

            {#Vergangenheit #}
        {% elseif (auction.tense == 'past' or auction.tense == 'past-perfect') %}
            <h2 class="m-b-2">Beendete Auktion:</h2>

            <dl class="auctionList">

                {% if bidderListLength != 1 %}
                    <dt>Höchstgebot:</dt>
                    <dd class="price h1 m-b-2">{{ bidderListLast.bidPrice | formatMonetary('EUR') }}</dd>
                    {#Aufgeld Standard#}
                    <dt><span class="alarm">Aufgeld</span> <span class="small">(10%)</span>:</dt>
                    <dd><span class="alarm"><strong>{{ ( bidderListLast.bidPrice * 0.1 ) | formatMonetary('EUR') }}</strong></span>
                        <span class="m-x-1">|</span>
                        <span>Gesamtpreis: </span>
                        <span class="alarm h4"><strong>{{ ( bidderListLast.bidPrice + bidderListLast.bidPrice * 0.1 ) | formatMonetary('EUR') }}</strong></span>
                    </dd>

                {% else %}
                    <dt>Ergebnis:</dt>
                    <dd class="price h3 m-b-2">Keine Gebote.</dd>

                {% endif %}

                <dt>Start Preis:</dt>
                <dd>{{ auction.startPrice | formatMonetary('EUR') }} </dd>

                {% include "PluginAuctions::Item.Partials.AuctionConstants" with { 'auction': auction } %}

                {% if bidderListLength != 1 %}
                    <dt>Anzahl Gebote:</dt>
                    <dd> {{ bidderListLength - 1 }}
                        <span>
                            <a data-toggle="modal" href="#bidderlist">
                                 <i class="fa fa-list-ul p-l-2 p-r-5" aria-hidden="true"></i> alle anzeigen
                                     </a>
                        </span>
                    </dd>
                {% endif %}
            </dl>
            <visitor-counter
                    template="#vue-visitor-counter"
                    number-of-visitors="{{ numberOfVisitors }}"
            >
            </visitor-counter>

            <div class="row container m-t-1 m-b-3">

                <auction-end
                        template="#vue-auction-end"
                        auction="{{ auction | json_encode() }}"
                        userdata="{{ userdata }}"
                >
                </auction-end>
            </div>

        {% endif %}
    </div>
    {#Modals etc...########################################## #}
    <div class="wrapper wrapper-top notify-auction">
        <!-- messages -->
        <notifications-plugin-auction
                template="#vue-notifications-plugin-auction"
        ></notifications-plugin-auction>
    </div>


    <!-- BidderList MODAL -->
    <div id="bidderlist-modal-wrapper">
        <div class="modal fade" id="bidderlist" tabindex="-1" role="dialog">
            <div class="modal-dialog" style="max-width: 640px;">
                <div class="modal-content modal-auction">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                        </button>
                        <h3 class="modal-title">
                            Alle Gebote für diese Auktion</h3>
                    </div>
                    <div class="modal-body">

                        <auction-show-bidderlist
                                template="#vue-auction-show-bidderlist"
                                auctionid="{{ auction.id }}"
                        >
                        </auction-show-bidderlist>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./BidderList MODAL -->

{% else %}
    <h1>Standardkategorie Fehler:</h1>

    <p>Die Standardkategorie in diesem Artikel ist auf 'Auktion' gesetzt, aber es ist keine Auktion im Backend
       definiert!!'</p>

{% endif %}

<style>
    .auctionList {
        display: block;
        font-family: 'Abel', sans-serif;
        padding: 1rem 1.5rem 1rem 1.5rem;
        margin-bottom: 0;
    }

    .auctionList dt {
        width: 28%;
        float: left;
        font-weight: bold;
    }

    .auctionList dd {
        width: 95%;
    }

    a:focus {
        outline: none;
    }

    .alarm {
        color: #c50000;
    }

    /*modal...*/

    .modal-auction {
        -webkit-transform: translateX(-34%);
        -moz-transform: translateX(-34%);
        -ms-transform: translateX(-34%);
        -o-transform: translateX(-34%);
        transform: translateX(-34%);
    }

    .notify-auction {
        z-index: 99999;
        position: fixed;
        opacity: 0.93;
    }
</style>

