{% set itemId = itemData.item.id %}
{% set auction = auctions.auction.getAuctionForItemId(itemId) %}

{% if ( auction ) %}

    {% set bidderListLast = auction.bidderList | last %}
    {% set bidderListLength = auction.bidderList | length %}

    {% set userdata = services.customer.getContact() | json_encode() %}

    <div id="addAuctionVue">


        {#Zukunft#}
        {% if (auction.tense == 'future') %}
            <h2 class="m-b-2">Bald beginnende Auktion:</h2>

            <dl class="auctionList">
                <dt>Start Preis:</dt>
                <dd class="price h1 m-b-2">{{ auction.startPrice | formatMonetary('EUR') }}</dd>

                {% include "PluginAuctions::Item.Partials.AuctionConstants" with { 'auction': auction } %}
            </dl>

            {#Gegenwart#}
        {% elseif (auction.tense == 'present') %}

            <h2 class="m-b-1 alarm">Laufende Auktion:</h2>


            <div class="row container m-t-0 m-b-2">
                <auction-bids
                        template="#vue-auction-bids"
                        auction="{{ auction | json_encode() }}"
                        item="{{ itemData | json_encode() }}"
                        userdata="{{ userdata }}">
                </auction-bids>
            </div>


            <div class="row container m-t-0 m-b-1">
                <dl class="auctionList">

                    {% if (bidderListLength > 1) %}
                        <dt>Aktuelles Gebot:</dt>
                        <dd class="price h1 m-b-2">{{ bidderListLast.bidPrice | formatMonetary('EUR') }}</dd>
                        <dt>Start Preis:</dt>
                        <dd>{{ auction.startPrice | formatMonetary('EUR') }}</dd>
                    {% else %}
                        <dt>Start Preis:</dt>
                        <dd class="price h1 m-b-2">{{ auction.startPrice | formatMonetary('EUR') }}</dd>
                    {% endif %}

                    {% include "PluginAuctions::Item.Partials.AuctionConstants" with { 'auction': auction } %}

                    {% if bidderListLength != 1 %}
                        <dt>Anzahl Gebote:</dt>
                        <dd> {{ bidderListLength - 1 }}
                            <span>
                            <a data-toggle="modal" href="#bidderlist">
                                <i class="fa fa-list-ul p-l-2 p-r-5" aria-hidden="true"></i> alle anzeigen
                            </a>
                            </span>
                            {% if (auction.tense == 'present') %}
                                <span>
                                    <button id="reload" class="btn btn-secondary btn-sm m-l-3"
                                            onclick="aoCustomReload()"
                                    ><i class="fa fa-refresh fa-2 m-r-5" aria-hidden="true"></i>reload
                                    </button>

                                </span>
                            {% endif %}
                        </dd>
                    {% endif %}
                </dl>

            </div>

            {#Vergangenheit #}
        {% elseif (auction.tense == 'past' or auction.tense == 'past-perfect') %}
            <h2 class="m-b-2">Beendete Auktion:</h2>

            <dl class="auctionList">

                {% if bidderListLength != 1 %}
                    <dt>Höchstgebot:</dt>
                    <dd class="price h1 m-b-2">{{ bidderListLast.bidPrice | formatMonetary('EUR') }}</dd>
                {% else %}
                    <dt>Ergebnis:</dt>
                    <dd class="price h3 m-b-2">Keine Gebote.</dd>
                {% endif %}

                <dt>Start Preis:</dt>
                <dd>{{ auction.startPrice | formatMonetary('EUR') }} </dd>

                {% include "PluginAuctions::Item.Partials.AuctionConstants" with { 'auction': auction } %}

                {% if bidderListLength != 1 %}
                    <dt>Anzahl Gebote:</dt>
                    <dd> {{ bidderListLength - 1 }}
                        <span>
                            <a data-toggle="modal" href="#bidderlist">
                                 <i class="fa fa-list-ul p-l-2 p-r-5" aria-hidden="true"></i> alle anzeigen
                                     </a>
                        </span>
                    </dd>
                {% endif %}
            </dl>
            <div class="row container m-t-1 m-b-3">

                <auction-end
                        template="#vue-auction-end"
                        auction="{{ auction | json_encode() }}"
                        userdata="{{ userdata }}"
                >
                </auction-end>
            </div>

        {% endif %}
    </div>
{% else %}
    <h1>Standardkategorie Fehler:</h1>

    <p>Die Standardkategorie in diesem Artikel ist auf 'Auktion' gesetzt, aber es ist keine Auktion im Backend
       definiert!!'</p>

{% endif %}

<style>
    .auctionList {
        display: block;
        font-family: 'Abel', sans-serif;
        padding: 1rem 1.5rem 1rem 1.5rem;
        margin-bottom: 0;
    }

    .auctionList dt {
        width: 25%;
        float: left;
        font-weight: bold;
    }

    .auctionList dd {
        width: 95%;
    }

    a:focus {
        outline: none;
    }

    .alarm {
        color: #c50000;
    }

</style>

