
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
{{ component( "PluginAuctions::Item.Components.AuctionBids" ) }}
{{ component( "PluginAuctions::Item.Components.Countdown" ) }}

{% set itemId = itemData.item.id %}
{% set auction = auctions.auction.getAuctionForItemId(itemId) %}

{#{% include "PluginAuctions::VarDump" with { 'testDescription': 'item', 'dumpData': itemData } %}#}
{#{% include "PluginAuctions::VarDump" with { 'testDescription': 'auction', 'dumpData': auction } %}#}

{% if ( auction ) %}


    {% set bidderListLast = auction.bidderList | last %}
    {% set bidderListLength = auction.bidderList | length %}

    <resource name="currentAuction" :data="{{ auction | json_encode() }}"></resource>
    <resource name="bidderListLast" :data="{{ bidderListLast | json_encode() }}"></resource>

    <div id="addAuctionVue">

        {#Zukunft#}
        {% if (auction.tense == 'future') %}
            <h2 class="m-b-2">Bald beginnende Auktion:</h2>

            <dl class="auctionList">
                <dt>Start Preis:</dt>
                <dd class="price h1 m-b-2">{{ auction.currentPrice | formatMonetary('EUR') }}</dd>
                <dt>Start Datum:</dt>
                <dd>{{ auction.startDate | date('D d. M Y H:i') }}</dd>
                <dt>Dauer:</dt>
                <dd>{{ auction.auctionDuration }} Tage</dd>
                <dt>End Datum:</dt>
                <dd>{{ auction.expiryDate | date('D d. M Y H:i e') }}</dd>
                <dt>Artikel ID:</dt>
                <dd>{{ auction.itemId }}</dd>
                <dt>Versandpreis:</dt>
                <dd>muß noch gefunden werden...</dd>
            </dl>
            {#Gegenwart#}
        {% elseif (auction.tense == 'present') %}

            <h2 class="m-b-3" style="color: #c50000;">Laufende Auktion:</h2>

            <div class="row container m-t-1 m-b-0">
                <dl class="auctionList">
                    {% if (bidderListLast.bidPrice != 0) %}
                        <dt>Aktuelles Gebot:</dt>
                        <dd class="price h1 m-b-2">
                            {{ bidderListLast.bidPrice | formatMonetary('EUR') }}

                            {#<span v-resource-bind:currentAuction="bidderListLast.bidPrice"#}
                            {#content="{{ bidderListLast.bidPrice | formatMonetary('EUR') }}">#}
                            {#{{ bidderListLast.bidPrice | formatMonetary('EUR') }}#}
                            {#</span>#}

                        </dd>

                        <dt>Start Preis:</dt>
                        <dd>{{ auction.currentPrice | formatMonetary('EUR') }}
                        </dd>
                    {% else %}
                        <dt>Start Preis:</dt>
                        <dd class="price h1 m-b-2">{{ auction.currentPrice | formatMonetary('EUR') }}</dd>
                    {% endif %}

                    <dt>Start Datum:</dt>
                    <dd>{{ auction.startDate | date('D d. M Y H:i') }}</dd>

                    <dt>Dauer:</dt>
                    <dd>{{ auction.auctionDuration }} Tage</dd>
                    <dt>End Datum:</dt>
                    <dd>{{ auction.expiryDate | date('D d. M Y H:i:s e') }}</dd>
                    <dt>Artikel ID:</dt>
                    <dd>{{ auction.itemId }}</dd>
                    <dt>Versandpreis:</dt>
                    <dd>muß noch gefunden werden...</dd>
                    {% if bidderListLength != 1 %}
                        <dt>Anzahl Gebote:</dt>
                        <dd> {{ bidderListLength - 1 }} <a href="#"> - alle anzeigen</a></dd>
                    {% endif %}

                </dl>
            </div>
            <div class="row container">
                <auction-countdown
                        template="#vue-auction-countdown"
                        deadline="{{ auction.expiryDate }}" number>
                </auction-countdown>
            </div>
            <div class="row container m-t-0 m-b-3">
                <auction-bids
                        template="#vue-auction-bids"
                        auction="{{ auction | json_encode }}"
                        userdata="{{ services.customer.getContact() | json_encode() }}">
                </auction-bids>
            </div>
            {#<auction-bids template="#vue-auction-bids"#}
            {#v-resource-push:auction data-accessor="true"#}
            {#resource="currentAuction">#}
            {#</auction-bids>#}


            {#Vergangenheit #}
        {% elseif (auction.tense == 'past') %}
            <h2 class="m-b-2">Beendete Auktion:</h2>

            <dl class="auctionList">
                <dt>Start Datum:</dt>
                <dd>{{ auction.startDate | date('D d. M Y H:i') }}</dd>

                <dt>Ablauf Datum:</dt>
                <dd>{{ auction.expiryDate | date('D d. M Y H:i:s e') }}</dd>

                <dt>Start Preis:</dt>
                <dd>{{ auction.currentPrice | formatMonetary('EUR') }}</dd>

                {% if bidderListLength != 1 %}
                    <dt>End Preis:</dt>
                    <dd> {{ bidderListLast.bidPrice | formatMonetary('EUR') }} </dd>

                    <dt>Anzahl Gebote:</dt>
                    <dd> {{ bidderListLength - 1 }} <a href="#"> -> alle anzeigen</a></dd>
                {% endif %}

                <dt>Artikel ID:</dt>
                <dd>{{ auction.itemId }}</dd>
            </dl>


        {% endif %}
    </div>
    <!-- BidderList MODAL -->
    {#<add-item-to-basket-overlay template="#vue-add-item-to-basket-overlay" :basket-add-information="{{ basketAddInformation | json_encode() }}"></add-item-to-basket-overlay>#}
    <!-- ./BidderList MODAL -->

{% else %}
    <h1>Standardkategorie Fehler:</h1>

    <p>Die Standardkategorie in diesem Artikel ist auf 'Auktionen' gesetzt, aber es ist keine Auktion im Backend
       definiert!!'</p>

{% endif %}

<style>
    .auctionList {
        display: block;
        font-family: 'Abel', sans-serif;
        padding: 1rem 1.5rem 1rem 1.5rem;
        margin-bottom: 0;
    }

    .auctionList dt {
        width: 25%;
        float: left;
        font-weight: bold;
    }

    .auctionList dd {
        width: 95%;
    }

</style>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js"></script>#}

{#<script src="https://www.schaffrathnumis.de/layout/theme/js/auction-app.js"></script>#}

