


<h1>
    {# ao Var-Dump #}
    Anfang
    {% include "PluginAuctions::VarDump" with { 'dumpData': item.documents[0] } %}
</h1>


<span class="price h1">
                <span v-resource-bind:currentVariation="documents.0.data.calculatedPrices.default.price"
                        :filters="['currency']"
                        content="{{ item.documents[0].data.calculatedPrices.default.price }}">
                        {{ item.documents[0].data.calculatedPrices.formatted.defaultPrice }}
                    </span>
                    <sup>*</sup>
                    <span content="{{ item.documents[0].data.calculatedPrices.default.currency }}"></span>
                </span>

<span class="availability tag availability_{{ item.documents[0].data.variation.availability.id }}"
        v-availability-class:currentVariation>
                    <span v-resource-bind:currentVariation="documents.0.data.variation.availability.names.name">
                        {{ item.documents[0].data.variation.availability.names.name }}
                    </span>
                </span>

<div class="row m-y-1">



    {#<add-to-basket template="#vue-add-to-basket" v-resource-push:item data-accessor="true"#}
            {#resource="currentVariation" :show-quantity="true"></add-to-basket>#}

</div>
