
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set itemData = config("Ceres.item.data") | split(', ') %}
{% set configItemName = config("Ceres.item.name") %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}
{% set variations = services.item.getVariationAttributeMap( item.documents[0].data.item.id  ) %}
{% set basePriceList = getBasePriceList( services.item.getVariationList( item.documents[0].data.item.id  ) ) %}
{#ao Variables #}
{% set itemMain = item.documents[0].data %}
{% set itemGetVariation = services.item.getVariation(7911) %}
{% set itemVariationData = itemGetVariation.documents[0].data %}

<p>{{ itemData | json_encode() }}</p>
<p>{{ configItemName | json_encode() }}</p>
<p>{{ variations | json_encode() }}</p>
<p>{{ basePriceList | json_encode() }}</p>
<h3>{{ itemMain | json_encode() }}</h3>
<p>{{ itemVariationData | json_encode() }}</p>

<h1>
    {# ao Var-Dump #}
    Anfang
</h1>
{% set auction = auctions.auction.getAuctionForItemId(item.documents[0].data.item.id) %}
{% set itemId = item.documents[0].data.item.id %}
<resource name="currentAuction" :data="{{ auction | json_encode() }}"></resource>


    {% include "PluginAuctions::VarDump" with { 'dumpData': auction | json_encode() } %}
    {% include "PluginAuctions::VarDump" with { 'itemId': itemId } %}

<div id="auction" variation-id="{{ item.documents[0].data.variation.id }}">


</div>




{#Preise#}
{#<span class="price h1">#}
                    {#<span v-resource-bind:currentVariation="documents.0.data.calculatedPrices.formatted.defaultPrice"#}
                            {#content="{{ item.documents[0].data.calculatedPrices.default.price }}">#}
                        {#{{ item.documents[0].data.calculatedPrices.formatted.defaultPrice }}#}
                    {#</span>#}
                    {#<sup>*</sup>#}
                    {#<span content="{{ item.documents[0].data.calculatedPrices.default.currency }}"></span>#}
                    {#</span>#}

{#{{ LayoutContainer.show("Ceres::SingleItem.AfterPrice", item.documents[0].data) }}#}

{#<span class="availability tag availability_{{ item.documents[0].data.variation.availability.id }}"#}
        {#v-availability-class:currentVariation>#}
                    {#<span v-resource-bind:currentVariation="documents.0.data.variation.availability.names.name">#}
                        {#{{ item.documents[0].data.variation.availability.names.name }}#}
                    {#</span>#}
                    {#</span>#}

{#<div class="row m-y-1">#}

    {#{{ LayoutContainer.show("Ceres::SingleItem.BeforeAddToBasket", item.documents[0].data) }}#}

    {#<add-to-basket template="#vue-add-to-basket"#}
            {#v-resource-if:currentVariation="documents[0].data.filter.isSalable"#}
            {#v-resource-push:item#}
            {#data-accessor="true"#}
            {#resource="currentVariation"#}
            {#:show-quantity="true"#}
            {#:show-order-properties="true"></add-to-basket>#}


    {#{{ LayoutContainer.show("Ceres::SingleItem.AfterAddToBasket", item.documents[0].data) }}#}
{#</div>#}
