
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
{{ component( "PluginAuctions::Item.Components.AuctionBids" ) }}
{{ component( "PluginAuctions::Item.Components.Countdown" ) }}
{#{{ component( "PluginAuctions::Item.Components.AuctionBidderListOverlay" ) }}#}
{{ component( "PluginAuctions::Item.Components.AuctionShowBidderList" ) }}

{% set itemId = itemData.item.id %}
{% set auction = auctions.auction.getAuctionForItemId(itemId) %}

{#{% include "PluginAuctions::VarDump" with { 'testDescription': 'item', 'dumpData': itemData } %}#}
{#{% include "PluginAuctions::VarDump" with { 'testDescription': 'auction', 'dumpData': auction } %}#}

{% if ( auction ) %}


    {% set bidderListLast = auction.bidderList | last %}
    {% set bidderListLength = auction.bidderList | length %}

    <resource name="currentAuction" :data="{{ auction | json_encode() }}"></resource>
    {#<resource name="bidderListLast" :data="{{ bidderListLast | json_encode() }}"></resource>#}

    <div id="addAuctionVue">

        {#Zukunft#}
        {% if (auction.tense == 'future') %}
            <h2 class="m-b-2">Bald beginnende Auktion:</h2>

            <dl class="auctionList">
                <dt>Start Preis:</dt>
                <dd class="price h1 m-b-2">{{ auction.currentPrice | formatMonetary('EUR') }}</dd>
                <dt>Start Datum:</dt>
                <dd>{{ auction.startDate | date('D d. M Y H:i') }}</dd>
                <dt>Dauer:</dt>
                <dd>{{ auction.auctionDuration }} Tage</dd>
                <dt>End Datum:</dt>
                <dd>{{ auction.expiryDate | date('D d. M Y H:i e') }}</dd>
                <dt>Artikel ID:</dt>
                <dd>{{ auction.itemId }}</dd>
                <dt>Versandkosten:</dt>
                <dd>Keine.</dd>
            </dl>
            {#Gegenwart#}
        {% elseif (auction.tense == 'present') %}

            <h2 class="m-b-0" style="color: #c50000;">Laufende Auktion:</h2>
            {#<hr class="m-b-2 m-r-3 m-l-2">#}
            <div class="row container m-t-1 m-b-0">
                <dl class="auctionList">
                    {% if (bidderListLast.bidPrice != 0) %}
                        <dt>Aktuelles Gebot:</dt>
                        <dd class="price h1 m-b-2">
                            {{ bidderListLast.bidPrice | formatMonetary('EUR') }}

                            {#<span v-resource-bind:currentAuction="bidderListLast.bidPrice"#}
                            {#content="{{ bidderListLast.bidPrice | formatMonetary('EUR') }}">#}
                            {#{{ bidderListLast.bidPrice | formatMonetary('EUR') }}#}
                            {#</span>#}

                        </dd>

                        <dt>Start Preis:</dt>
                        <dd>{{ auction.currentPrice | formatMonetary('EUR') }}
                        </dd>
                    {% else %}
                        <dt>Start Preis:</dt>
                        <dd class="price h1 m-b-2">{{ auction.currentPrice | formatMonetary('EUR') }}</dd>
                    {% endif %}

                    <dt>Start Datum:</dt>
                    <dd>{{ auction.startDate | date('D d. M Y H:i') }}</dd>

                    <dt>Dauer:</dt>
                    <dd>{{ auction.auctionDuration }} Tage</dd>
                    <dt>End Datum:</dt>
                    <dd>{{ auction.expiryDate | date('D d. M Y H:i:s e') }}</dd>
                    <dt>Artikel ID:</dt>
                    <dd>{{ auction.itemId }}</dd>
                    <dt>Versandkosten:</dt>
                    <dd>keine</dd>


                    {% if bidderListLength != 1 %}
                        <dt>Anzahl Gebote:</dt>
                        <dd> {{ bidderListLength - 1 }}
                            <span>    <a data-toggle="modal"
                                        href="#bidderlist-modal-wrapper"
                                        title="trans(PluginAuctions::Template.auctionBidderlistTitel  1 ">
                                         <i class="fa fa-list-ul p-l-2 p-r-5" aria-hidden="true"></i> alle anzeigen
                                     </a>
                        </span>
                        </dd>
                    {% endif %}

                </dl>
            </div>
            <div class="row container">
                <auction-countdown
                        template="#vue-auction-countdown"
                        deadline="{{ auction.expiryDate }}" number>
                </auction-countdown>
            </div>
            <div class="row container m-t-0 m-b-3">
                <auction-bids
                        template="#vue-auction-bids"
                        auctionid="{{ auction.id }}"
                        userdata="{{ services.customer.getContact() | json_encode() }}">
                </auction-bids>
            </div>

            {#Vergangenheit #}
        {% elseif (auction.tense == 'past') %}
            <h2 class="m-b-2">Beendete Auktion:</h2>

            <dl class="auctionList">
                <dt>Start Datum:</dt>
                <dd>{{ auction.startDate | date('D d. M Y H:i') }}</dd>

                <dt>Ablauf Datum:</dt>
                <dd>{{ auction.expiryDate | date('D d. M Y H:i:s e') }}</dd>

                <dt>Start Preis:</dt>
                <dd>{{ auction.currentPrice | formatMonetary('EUR') }}</dd>

                {#bidderList...#}
                {% if bidderListLength != 1 %}
                    <dt>Anzahl Gebote:</dt>
                    <dd> {{ bidderListLength - 1 }}
                        <span>    <a data-toggle="modal"
                                    href="#bidderlist-modal-wrapper"
                                    title="trans(PluginAuctions::Template.auctionBidderlistTitel ">
                                         <i class="fa fa-list-ul p-l-2 p-r-5" aria-hidden="true"></i> alle anzeigen
                                     </a>
                        </span>
                    </dd>
                {% endif %}

                <dt>Artikel ID:</dt>
                <dd>{{ auction.itemId }}</dd>
            </dl>
            {#<!-- BidderList MODAL -->#}
            <div id="bidderlist">
                <div class="modal fade" id="bidderlist-modal-wrapper" tabindex="-1" role="dialog">
                    {#<auction-show-bidderlist#}
                            {#template="#vue-auction-show-bidderlist">#}
                    {#</auction-show-bidderlist>#}
                    <auction-countdown
                            template="#vue-auction-countdown"
                            deadline="{{ auction.expiryDate }}" number>
                    </auction-countdown>

                </div>
            </div>
            {#<!-- ./BidderList MODAL -->#}


            {#<div class="wrapper wrapper-bottom">#}
            {#<!-- BidderList MODAL -->#}
            {#<auction-bidderlist-overlay template="#vue-auction-bidderlist-overlay"#}
            {#:bidderlist="{{ auction.bidderList | json_encode() }}"#}
            {#>#}
            {#</auction-bidderlist-overlay>#}
            {#<auction-bidderlist-overlay template="#vue-auction-bidderlist-overlay" :basket-add-information="{{ basketAddInformation | json_encode() }}"></auction-bidderlist-overlay>#}
            {#<!-- ./BidderList MODAL -->#}
            {#</div>#}

        {% endif %}
    </div>

{% else %}
    <h1>Standardkategorie Fehler:</h1>

    <p>Die Standardkategorie in diesem Artikel ist auf 'Auktionen' gesetzt, aber es ist keine Auktion im Backend
       definiert!!'</p>

{% endif %}

<style>
    .auctionList {
        display: block;
        font-family: 'Abel', sans-serif;
        padding: 1rem 1.5rem 1rem 1.5rem;
        margin-bottom: 0;
    }

    .auctionList dt {
        width: 25%;
        float: left;
        font-weight: bold;
    }

    .auctionList dd {
        width: 95%;
    }

</style>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js"></script>#}

{#<script src="https://www.schaffrathnumis.de/layout/theme/js/auction-app.js"></script>#}

