{#<div class="row">#}
    {#<add-to-wish-list template="#vue-add-to-wish-list"#}
            {#variation-id="{{ item.variation.id }}"#}
            {#:is-active="{{ item.isInWishListVariation | json_encode() }}"></add-to-wish-list>#}
{#</div>#}


{% set itemId = itemData.item.id %}
{% set auction = auctions.auction.getAuctionForItemId(itemId) %}

{#{% include "PluginAuctions::VarDump" with { 'testDescription': 'item', 'dumpData': itemData } %}#}
{#{% include "PluginAuctions::VarDump" with { 'testDescription': 'auction', 'dumpData': auction } %}#}

{% if ( auction ) %}
    <resource name="currentAuction" :data="{{ auction | json_encode() }}"></resource>

    {% set bidderListLast = auction.bidderList | last %}
    {% set bidderListLength = auction.bidderList | length %}
    <div id="addAuctionVue">
        {% if (auction.tense == 'future') %}
            <h2 class="m-b-2">Bald beginnende Auktion:</h2>

            <dl class="auctionList">
                <dt>Start Preis:</dt>
                <dd class="price h1 m-b-2">{{ auction.currentPrice | formatMonetary('EUR') }}</dd>
                <dt>Start Datum:</dt>
                <dd>{{ auction.startDate | date('D d. M Y H:i') }}</dd>
                <dt>Dauer:</dt>
                <dd>{{ auction.auctionDuration }} Tage</dd>
                <dt>Ablauf Datum:</dt>
                <dd>{{ auction.expiryDate | date('D d. M Y H:i e') }}</dd>
                <dt>Artikel ID:</dt>
                <dd>{{ auction.itemId }}</dd>
                <dt>Versandpreis:</dt>
                <dd>muß noch gefunden werden...</dd>
            </dl>
            {#Gegenwart#}
        {% elseif (auction.tense == 'present') %}

            <h2 class="m-b-2">Laufende Auktion:</h2>

            {#| date("d \\T\\a\\g\\e H:i:s")#}
            <dl class="auctionList">
                {% if (bidderListLast.currentPrice != 0) %}
                    <dt>Aktuelles Gebot:</dt>
                    <dd class="price h1 m-b-2">{{ bidderListLast.bidPrice | formatMonetary('EUR') }}</dd>
                    <dt>Start Preis:</dt>
                    <dd>{{ auction.currentPrice | formatMonetary('EUR') }}</dd>
                {% else %}
                    <dt>Start Preis:</dt>
                    <dd class="price h1 m-b-2">{{ auction.currentPrice | formatMonetary('EUR') }}</dd>
                {% endif %}
                <dt>Dauer:</dt>
                <dd>{{ auction.auctionDuration }} Tage</dd>
                <dt>Ablaufdatum:</dt>
                <dd>{{ auction.expiryDate | date('D d. M Y H:i:s e') }}</dd>
                <dt>Artikel ID:</dt>
                <dd>{{ auction.itemId }}</dd>
                <dt>Versandpreis:</dt>
                <dd>muß noch gefunden werden...</dd>
                {% if bidderListLength != 1 %}
                    <dt>Anzahl Gebote:</dt>
                    <dd> {{ bidderListLength - 1 }} <a href="#"> -> alle anzeigen</a></dd>
                {% endif %}

                <div class="m-t-2">
                    <dt>Restzeit:</dt>
                    <dd class="countDown">{{ (auction.expiryDate - auction.startDate) | date('d \\T\\a\\g\\e H:i:s') }}</dd>
                </div>
            </dl>
            <div class="row m-b-3">

                <auction-bids>hallo
                </auction-bids>

                {#<auction-bids template="#vue-auction-bids"#}
                        {#v-resource-push: auction data-accessor="true"#}
                        {#resource="currentAuction">#}
                {#</auction-bids>#}

            </div>


            {#Vergangenheit #}
        {% elseif (auction.tense == 'past') %}
            <h2 class="m-b-2">Beendete Auktion:</h2>

            <dl class="auctionList">
                <dt>Start Datum:</dt>
                <dd>{{ auction.startDate | date('D d. M Y H:i') }}</dd>

                <dt>Ablauf Datum:</dt>
                <dd>{{ auction.expiryDate | date('D d. M Y H:i:s e') }}</dd>

                <dt>Start Preis:</dt>
                <dd>{{ auction.currentPrice | formatMonetary('EUR') }}</dd>

                {% if bidderListLength != 1 %}
                    <dt>End Preis:</dt>
                    <dd> {{ bidderListLast.bidPrice | formatMonetary('EUR') }} </dd>

                    <dt>Anzahl Gebote:</dt>
                    <dd> {{ bidderListLength - 1 }} <a href="#"> -> alle anzeigen</a></dd>
                {% endif %}

                <dt>Artikel ID:</dt>
                <dd>{{ auction.itemId }}</dd>
            </dl>


        {% endif %}
    </div>

    {#Ende Auction#}
{% else %}

    {#Preis#}
    <span class="price h1">
    <span v-resource-bind:currentVariation="documents.0.data.calculatedPrices.formatted.defaultPrice"
            content="{{ item.documents[0].data.calculatedPrices.default.price }}">
    {{ item.documents[0].data.calculatedPrices.formatted.defaultPrice }}
    </span>
    <sup>*</sup>
    <span content="{{ item.documents[0].data.calculatedPrices.default.currency }}"></span>
    </span>


    {{ LayoutContainer.show("Ceres::SingleItem.AfterPrice", item.documents[0].data) }}

    <span class="availability tag availability_{{ item.documents[0].data.variation.availability.id }}"
            v-availability-class:currentVariation>
    <span v-resource-bind:currentVariation="documents.0.data.variation.availability.names.name">
    {{ item.documents[0].data.variation.availability.names.name }}
    </span>
    </span>

    <div class="row m-y-3 col-md-6 col-lg-5 offset-lg-3">

        {{ LayoutContainer.show("Ceres::SingleItem.BeforeAddToBasket", item.documents[0].data) }}

        <add-to-basket template="#vue-add-to-basket"
                v-resource-if:currentVariation="documents[0].data.filter.isSalable"
                v-resource-push:item
                data-accessor="true"
                resource="currentVariation"
                :show-quantity="false"
                :show-order-properties="true"></add-to-basket>


        {{ LayoutContainer.show("Ceres::SingleItem.AfterAddToBasket", item.documents[0].data) }}
    </div>

{% endif %}


